* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #000;
    color:#666;
    text-align: center;
}
audio{
    width: 450px;
    margin: 30px;
}
.container{
    height: 420px;
    overflow: hidden;
}

.container ul{
    list-style: none;
    transition: .5s;
}

.container li{
    height: 30px;
    line-height: 30px;
    transition: .2s;
}

.container li.active{
    color: #fff;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
